
.zoom-in-animation {
  animation-name: zoom-in;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-fill-mode: none, forwards;

}

.from-right-animation {
  position: relative;
  animation-name: from-right;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-fill-mode: none, forwards;
}

@keyframes zoom-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes from-right {
  from {
    left: 100%;
  }

  to {
    left: 0px;
  }
}

